#confirmed{
    stroke-width: 0.5;
    stroke-width : 1.5;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
}
.forecast {
    stroke-width: 0.5;
    stroke: green;
    stroke-width : 1.5;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none
}

#your-line {
    stroke-width: 0.5;
    stroke: red;
    stroke-width : 1.5;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 3, 3;
    fill: none;
}

#click-area {
    cursor: pointer;
}