<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   <script src="{{url_for('static', filename='javascript/countries.js')}}"></script>
   <script src="{{url_for('static', filename='javascript/us-states.js')}}"></script>
    </head>
    <style>
        #mapid { width: 100%;
			height: 700px; 
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            }
    </style>
	<body>

        <div id="mapid"></div>
        <script type="text/javascript">

var geojson;
var map = L.map('mapid').setView([0, 20], 2);

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoicmFjaGVsb21ib2siLCJhIjoiY2tjODZ6c3UzMTh3ZTJyb2JndHN0dXhlOSJ9.h8aubFClamI3kiUsjIgNTg', {
    id: 'mapbox/dark-v10',
    attribution: "bloop",
    tileSize: 512,
    zoomOffset: -1
}).addTo(map);
/*
L.tileLayer.USA = L.tileLayer.extend({
    getTileUrl: function(coords) {
        return 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoicmFjaGVsb21ib2siLCJhIjoiY2tjODZ6c3UzMTh3ZTJyb2JndHN0dXhlOSJ9.h8aubFClamI3kiUsjIgNTg';
    },
    id: 'mapbox/light-v9',
    attribution: "bloop",
    tileSize: 512,
    zoomOffset: -1
});
*/
function getColor(d) {
    return d > 1000 ? '#800026' :
           d > 500  ? '#BD0026' :
           d > 200  ? '#E31A1C' :
           d > 100  ? '#FC4E2A' :
           d > 50   ? '#FD8D3C' :
           d > 20   ? '#FEB24C' :
           d > 10   ? '#FED976' :
                      '#FFEDA0';
}

function style(feature) {
    return {
        fillColor: getColor(feature.properties.density),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.7
    };
}

function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
        weight: 5,
        color: '#666',
        dashArray: '',
        fillOpacity: 0.7
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
        layer.bringToFront();
    }
}

function resetHighlight(e){
    geojson.resetStyle(e.target);
}

function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
}

function redirectFeature(e) {
    var marker = e.target;
    layer = window[e.target.geoJson.id];
    window.alert(layer._leaflet_id);
    //console.log(e.target.layer.id);
    if (e.layer.id == 'USA'){
        zoomToFeature;

    }
    else{
        window.location.href = '/home';
    }
    
}

function clickOnMapItem(itemId) {
    var id = parseInt(itemId);
    //get target layer by it's id
    var layer = geojson.getLayer(id);
    //fire event 'click' on target layer 
    layer.fireEvent('click');  
}

function onEachFeature(feature, layer) {
    layer.bindTooltip(feature.properties.name.toString(),{noHide:true}).openTooltip();
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: redirectFeature
    });
    layer._leaflet_id = feature.id;
}

geojson = L.geoJson(countries, {style: style, onEachFeature: onEachFeature}).addTo(map);
//L.geoJson(statesData).addTo(map);

     </script>
	</body>
</html>