<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <script src='https://unpkg.com/react@16.3.1/umd/react.production.min.js'></script>
    <script src='https://unpkg.com/react-dom@16.3.1/umd/react-dom.production.min.js'></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
  </head>

  <body>
    <div id="app"></div>
    <div>
      <form class="form-check" action="{{ url_for('home') }}" method='POST'>
        <input type="radio" name="models" id="model1" value="UCLA"> UCLA </input><br>
        <input type="radio" name="models" id="model2" value="Georgia Tech"> Georgia Tech </input><br>
        <input type="radio" name="models" id="model3" value="Columbia"> Columbia </input><br>
        <button type="submit" class="submit">Submit</button>
      </form>
      
    </div>
    <script type='text/babel' src="{{ url_for('static', filename='javascript/home-page.js') }}"></script>
  </body>
</html>